{% extends 'players/base/base.html' %}

{% load static %}

{% block title %}{{ player_name }}{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'players/styles/player-details.css' %}">
{% endblock %}


{% block body %}



    <section class="play">
        {% if not positions_sorted %}
            <h2>Spin for positions</h2>
        {% else %}
            <h2>Spin your turn</h2>
        {% endif %}       
        <div class="player-details">
            <h3>{{ player.name }} </h3>  
            <h3>{{ player.id }} </h3>
            <h3>{{ player.slug }} </h3>                          
        </div>
        <div class="player-actions">
            <a href="{% url 'player-details' next_player_slug %}" class="btn">{{ next_player_slug }}</a>
        </div>
    

   
    
{% if positions_sorted %}
<section>
    <h2>Game to begin with the below Player positions</h2>
    <table>
        
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
            </tr>
            {% for player_item in players %}
                <tr>
                    <td>{{ player_item.name }}</td>
                    <td>{{ player_item.id }}</td>
                </tr>
            {% endfor %}
        </thead>       
    </table>
</section>
{% endif %}

<section>
    <h2>Player Spins</h2>
    <table>
        
        <thead>
            <tr>
                <th>Name</th>
                <th>Number spun</th>
            </tr>
    {% for player_item in players %}
            <tr>
                <td>{{ player_item.name }}</td>
                <td>{{ player_item.number_spun }}</td>
            </tr>
        
    {% endfor %}
        </thead>       
    </table>
</section>
        
        <section id="details">
            
            <table>
        
                <thead>
                    <tr>
                        <th>Cash</th>
                        <th>Bank Loans</th>
                        <th>Base Salary</th>
                        <th>Current Salary</th>
                        <th>Taxes Due</th>
                        <th>Board Position</th>
                    </tr>
                    <tr>
                        <td>{{ player_cash }}</td>
                        <td>{{ player_bank_loans }}</td>
                        <td>{{ player_base_salary }}</td>
                        <td>{{ player_curr_salary }}</td>
                        <td>{{ player_taxes_due }}</td>
                        <td>{{ player_board_position }}</td>
                    </tr>
                </thead>   
            </table>
        </section>
    </section>
        
{% endblock %}